@import "./fonts.scss";

// Fonts
$main-font: "Josefin Sans", sans-serif;

// Colors
$primary-color: #00a3aa;
$dark-color: #25657a;
$light-color: #e8f3f1;
$white-color: white;
$background-color: #f8f1e8;
